body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Anta";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #3b006e;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-box {
  height: "280px";
  width: "500px";
  color: antiquewhite;
  text-shadow: 4px 4px #000000;
}

h1, h2 {
  color: antiquewhite;
  text-shadow: 4px 4px #000000;
}

iframe {
  border: 5px dashed antiquewhite;
  height: 200px;
  width: 100%;
}

.choice {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}


.option-button {
  height: 80%;
  width: 70%;
}